@(id:String)
@_header={<a data-rel="back" data-theme="a" data-icon="fasearch">Search</a><h1>Business Detail</h1>}
@_footer={
   <a href="/claimAsOwner?id=@id" data-role="button" data-icon="heart">Claim</a>
	<a href="#" data-role="button" data-icon="eye-open">Follow</a>
	<a href="#" data-role="button"  data-icon="comment">Recommend</a>
	</div><!-- /navbar -->}
@_content={
    <input type="hidden" id="bizId" value=@id>
	<style type="text/css">
      #map-canvas {  width: 100%;
        			height: 100px; }
    </style>
    <ul id="bizDetailUL" data-role="listview" data-inset="true">
    <li data-role="list-divider">Facts</li>
    <li id="bizDetailLi">
    </li>
    <li><div id="map-canvas"></div></li>
    <li data-role="list-divider">Social Ratings</li>
    <li><img src="/assets/images/yelp.png" class="ui-li-icon"/><span class="yelp">Yelp</span><div class="ui-li-aside" id='yelpRating'></div></li>
    </ul>  
    <script src="/assets/javascripts/raty/jquery.raty.min.js"></script>
<script src="/assets/javascripts/search/bizDetail.js"></script>
}
@layout.layout(content=_content,pageId="bizDetailPage",header=_header,footer=_footer)

   


