@_header={<a  href="/" data-rel="back" data-theme="a" data-icon="fahome">Home</a>
<h1>Search a business</h1>
<a  href="/showSearch" data-theme="a" data-icon="list-ul">List</a>}
@_content={
	<style type="text/css">
      #search-map-canvas {  width: 100%;
        			height: 400px; }
    </style>
    <input id="mapViewSearchInput" type="search" placeholder="Search...">
    <div id="search-map-canvas"></div>
    <script src="/assets/javascripts/search/searchMapView.js"></script>
	}
	

@layout.layout(header=_header,pageId="searchMapViewPage",content=_content)
