@(signInform: form.SigninForm)
@_header={<h1>Bizwise</h1>}
@_footer={@layout.defaultFooter()}
@_content={<div class="successMsg">@flash.get("success")</div>
<form id="signin" action="/signin" method="post" data-ajax="false">
  <fieldset>
    <div class="widget"> 
  	<label for="emailInput">Already have an account?</label>
    <div class="validationErr">@signInform.authError</div>
    <input id="emailInput" type="text" placeholder="Email" value="@signInform.email" data-clear-btn="true" name="email"/>
    <div class="validationErr">@signInform.emailError</div>
    <input id="pwdInput" type="password" placeholder="Password (Case Sensitive)"  data-clear-btn="true" name="pwd" value="@signInform.pwd"/>
    <div class="validationErr">@signInform.pwdError</div>
    <a href="">Forget Your Password?</a>
     <input id="checkbox-r" type="checkbox"/><label for="checkbox-r">Remember me</label>
    <input type="submit" data-role="button" data-theme="a" id="signinBtn" value="Log In"/>
    </div>
    <div class="widget">
       <label>Don't have an account? Get your own personal business advisor.</label>
   <a href="/showSignup" data-role="button" data-theme="b">Sign up</a>
    </div>  
  </fieldset>
  </form>}
@layout.layout(header=_header,content=_content,footer=_footer)
  


