@(pageId:String=null,header:Html=null,content: Html, footer:Html=null)
<!DOCTYPE html> 
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" href="/assets/stylesheets/jquery.mobile-1.3.1.css" />  
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" />
	<link rel="stylesheet" href="/assets/stylesheets/font-awesome/jqm-icon-pack-fa.css" />   
	<link rel="stylesheet" href="/assets/stylesheets/main.css" />  
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqdVT3XtZCXy1UYeHjRcNKheBWW4a-Iio&sensor=false"></script>
	<title>BizWise</title>
</head> 

<body> 

<div data-role="page"
	@if( pageId!=null){
	id="@pageId"
	}
>
	@if(header !=null){
	<div data-role="header" data-position="fixed">
	@header
	</div><!-- /header -->
	}

	<div data-role="content">	
		@content
	</div><!-- /content -->
	
	@if(footer !=null){
	<div data-role="footer" data-position="fixed">
	@footer
	</div><!-- /footer -->
	}
	
</div><!-- /page -->

</body>
</html>
